<!DOCTYPE html>
<html lang="es">

<head>
    <title>Inicio</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/estilos.css">
    <script src="../js/galeria.js"></script>
</head>

<body class="body">
    <div class="body-grid">

        <header class="header">
            <img class="header-logo" src="../images/logo-hotel.png" alt="logo">
            <div>
                <h2>HOTELES HORIZONTE</h2>
            </div>
        </header>

        <nav class="navigation">

            <button class="navigation-button" onclick="window.location.href='../index.html'">
                <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24"
                    viewBox="0 0 24 24" width="24" focusable="false" style="pointer-events: none; display: block;">
                    <g>
                        <path d="M4 21V10.08l8-6.96 8 6.96V21h-6v-6h-4v6H4z"></path>
                    </g>
                </svg>
                Inicio
            </button>


            <button class="navigation-button" onclick="window.location.href='./contacto.html'">
                <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24" focusable="false"
                    style="pointer-events: none; display: block;">
                    <path
                        d="M3,3v18h18V3H3z M4.99,20c0.39-2.62,2.38-5.1,7.01-5.1s6.62,2.48,7.01,5.1H4.99z M9,10c0-1.65,1.35-3,3-3s3,1.35,3,3 c0,1.65-1.35,3-3,3S9,11.65,9,10z M12.72,13.93C14.58,13.59,16,11.96,16,10c0-2.21-1.79-4-4-4c-2.21,0-4,1.79-4,4 c0,1.96,1.42,3.59,3.28,3.93c-4.42,0.25-6.84,2.8-7.28,6V4h16v15.93C19.56,16.73,17.14,14.18,12.72,13.93z">
                    </path>
                </svg>Contacto
            </button>


            <button class="navigation-button button-active" onclick="window.location.href='./galeria.html'">
                <svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium mui-6gt4f0-icon" focusable="false"
                    aria-hidden="true" viewBox="0 0 24 24" data-testid="Catalog.svgIcon" width="24" height="24">
                    <g>
                        <path
                            d="M19.8,3H4.2L2,12.8L2,21h20v-8L19.8,3z M18.2,5l1.6,7.1H4.2L5.8,5H18.2z M4,19v-5h16v5H4z">
                        </path>
                        <rect x="7" y="9" width="10" height="2"></rect>
                        <rect x="8" y="6" width="8" height="2"></rect>
                    </g>
                </svg>
                Galería
            </button>


            <button class="navigation-button" onclick="window.location.href='./presupuesto.html'">
                <img src="https://cdn-icons-png.flaticon.com/128/1865/1865652.png"
                width="24" height="24"
                    data-src="https://cdn-icons-png.flaticon.com/128/1865/1865652.png" alt="Presupuesto"
                    title="Presupuesto " class="lzy lazyload--done"
                    srcset="https://cdn-icons-png.flaticon.com/128/1865/1865652.png 4x">
                Presupuesto
            </button>
        </nav>

        <main class="main">
            <div id="galeria">
            </div>
        </main>
        <footer class="footer">
            <span>Carrer de les Carolines, 11, 08012 Barcelona - Aviso Legal</span>
            <div style="display: flex; gap:2rem">
                <a href="https://facebook.com" target="_blank"><img src="../images/logo-facebook.png" alt="Facebook" height="30"></a>
                <a href="https://twitter.com" target="_blank"><img src="../images/logo-twitter.png" alt="Twitter" height="30"></a>
                <a href="https://instagram.com" target="_blank"><img src="../images/logo-instagram.png" alt="Instagram"
                        height="30"></a>
            </div>
        </footer>

    </div>
</body>

</html>